html,
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

#contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.deleted {
  background-color: rgb(255, 0, 0, 0.5);
}

.channel-profile > * {
  font-size: 1.17em;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 50%;
}

.channel-profile > img {
  width: 48px;
  height: auto;
}

body a.channel-owner {
  background-color: #008bec;
  color: #fff;
  border-radius: 9px;
  padding: 1px 6px;
}

.creator-heart-container {
  display: inline-block;
  padding: 0px 7px 6px 0px;
  margin: 0px -7px -4px 0px;
}

.creator-heart {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px none;
}

.creator-heart-background-hearted {
  width: 16px;
  height: 16px;
  padding: 0px;
  position: relative;
}

.creator-heart-small-hearted {
  position: absolute;
  right: -7px;
  bottom: -4px;
}

.creator-heart-small-container {
  position: relative;
  width: 13px;
  height: 13px;
  color: rgb(255, 0, 0);
}

.feed-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feed-menu-item {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .feed-menu-item {
    flex: 0 0 40%;
  }
}

.h-box {
  padding-left: 1em;
  padding-right: 1em;
}

.v-box {
  padding-top: 1em;
  padding-bottom: 1em;
}

div {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.loading {
  display: inline-block;
  animation: spin 2s linear infinite;
}

.playlist-restricted {
  height: 20em;
  padding-right: 10px;
}

body a.pure-button {
  color: rgba(0,0,0,.8);
}

button.pure-button-primary,
body a.pure-button-primary,
.channel-owner:hover {
  background-color: #a0a0a0;
  color: rgba(35, 35, 35, 1);
}

button.pure-button-primary:hover,
body a.pure-button-primary:hover {
  background-color: rgba(0, 182, 240, 1);
  color: #fff;
}

div.thumbnail {
  padding: 28.125%;
  position: relative;
  box-sizing: border-box;
}

img.thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.length {
  z-index: 100;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.75);
  color: #fff;
  border-radius: 2px;
  padding: 2px;
  font-size: 16px;
  right: 0.25em;
  bottom: -0.75em;
}

.watched {
  z-index: 100;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.75);
  color: #fff;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
  font-size: 16px;
  left: 0.2em;
  top: -0.7em;
}

/*
 * Navbar
 */

.navbar {
  margin: 1em 0;
  display: flex; /* this is also defined in framework, but in case of future changes */
  align-items: center;
  justify-content: space-between;
}

.navbar > div {
  flex: 1;
}

.searchbar {
  flex-grow: 2; /* take double the space of the other items */
}

.navbar a {
  padding: 0; /* this way it will stay aligned with content under */
}

.navbar .index-link {
  font-weight: bold;
  display: inline;
}

.searchbar .pure-form fieldset { padding: 0; }

.searchbar input[type="search"] {
        width: 100%;
        margin: 1px;

        border: 1px solid;
        border-color: #0000 #0000 #CCC #0000;
        border-radius: 0;

        box-shadow: none;
        -webkit-appearance: none;
}

.searchbar input[type="search"]:focus {
        margin: 0 0 0.5px 0;
        border: 2px solid;
        border-color: #0000 #0000 #FED #0000;
}

/* https://stackoverflow.com/a/55170420 */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  background-size: 14px;
}

.user-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-field div {
  width: initial;
}

.user-field div:not(:last-child) {
  margin-right: 1em;
}

@media only screen and (max-aspect-ratio: 16/9) {
  .player-dimensions.vjs-fluid {
    padding-top: 46.86% !important;
  }

  #player-container {
    padding-bottom: 46.86% !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }

  .navbar > div {
    display: flex;
    justify-content: center;
  }

  .navbar > div:not(:last-child) {
    margin-bottom: 1em;
  }

  .navbar > .searchbar > form {
    width: 60%;
  }

  h1 {
    font-size: 1.25em;
    margin: 0.42em 0;
  }
}

@media screen and (max-width: 320px) {
  .navbar > .searchbar > form {
    width: 100%;
    margin: 0 1em;
  }
}


/*
 * Video "cards" (results/playlist/channel videos)
 */

.video-card-row { margin: 15px 0; }

.flexible { display: flex; }
.flex-left  { flex: 1 1 100%; flex-wrap: wrap;   }
.flex-right { flex: 1 0 max-content; flex-wrap: nowrap; }

p.channel-name { margin: 0; }
p.video-data   { margin: 0; font-weight: bold; font-size: 80%; }


/*
 * Footer
 */

footer {
  color: #919191;
  margin-top: auto;
  padding: 1.5em 0;
  text-align: center;
  max-height: 30vh;
}

footer a {
  color: #919191 !important;
  text-decoration: underline;
}

footer span {
  margin: 4px 0;
  display: block;
}

/* keyframes */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

fieldset > select,
span > select {
  color: rgba(49, 49, 51, 1);
}

.pure-control-group label {
  word-wrap: normal;
}

/*
 * Light theme
 */

.light-theme a:hover,
.light-theme a:active,
.light-theme summary:hover {
  color: #075A9E !important;
}

.light-theme a.pure-button-primary:hover {
  color: #fff !important;
}

.light-theme a {
  color: #335d7a;
  text-decoration: none;
}

/* All links that do not fit with the default color goes here */
.light-theme a:not([data-id]) > .icon,
.light-theme .pure-u-lg-1-5 > .h-box > a[href^="/watch?"],
.light-theme .playlist-restricted > ol > li > a {
  color: #303030;
}

.light-theme .pure-menu-heading {
  color: #565d64;
}

@media (prefers-color-scheme: light) {
  .no-theme a:hover,
  .no-theme a:active,
  .no-theme summary:hover  {
    color: #075A9E !important;
  }

  .no-theme a.pure-button-primary:hover {
    color: #fff !important;
  }

  .no-theme a {
    color: #335d7a;
    text-decoration: none;
  }

  /* All links that do not fit with the default color goes here */
  .no-theme a:not([data-id]) > .icon,
  .no-theme .pure-u-lg-1-5 > .h-box > a[href^="/watch?"],
  .no-theme .playlist-restricted > ol > li > a {
    color: #303030;
  }

  .light-theme .pure-menu-heading {
    color: #565d64;
  }
}

/*
 * Dark theme
 */

.dark-theme a:hover,
.dark-theme a:active,
.dark-theme summary:hover {
  color: rgb(0, 182, 240);
}

.dark-theme a {
  color: #a0a0a0;
  text-decoration: none;
}

body.dark-theme {
  background-color: rgba(35, 35, 35, 1);
  color: #f0f0f0;
}

.dark-theme .pure-form legend {
  color: #f0f0f0;
}

.dark-theme .pure-menu-heading {
  color: #f0f0f0;
}

.dark-theme input,
.dark-theme select,
.dark-theme textarea {
  color: rgba(35, 35, 35, 1);
}

.dark-theme .pure-form input[type="file"] {
  color: #f0f0f0;
}

.dark-theme .searchbar input {
  background-color: inherit;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .no-theme a:hover,
  .no-theme a:active {
    color: rgb(0, 182, 240);
  }

  .no-theme a {
    color: #a0a0a0;
    text-decoration: none;
  }

  body.no-theme {
    background-color: rgba(35, 35, 35, 1);
    color: #f0f0f0;
  }

  .no-theme .pure-form legend {
    color: #f0f0f0;
  }

  .no-theme .pure-menu-heading {
    color: #f0f0f0;
  }

  .no-theme input,
  .no-theme select,
  .no-theme textarea {
    color: rgba(35, 35, 35, 1);
  }

  .no-theme .pure-form input[type="file"] {
    color: #f0f0f0;
  }

  .no-theme .searchbar input {
    background-color: inherit;
    color: inherit;
  }
}

#filters {
  display: inline;
  margin-top: 15px;
}

#filters > div {
  display: inline-block;
}

#filters > summary {
  display: block;
  margin-bottom: 15px;
}

#filters > summary::before {
  content: "[ + ]";
  font-size: 1.5em;
}

#filters[open] > summary::before {
  content: "[ - ]";
  font-size: 1.5em;
}

/*With commit d9528f5 all contents of the page is now within a flexbox. However,
the hr element is rendered improperly within one.
See https://stackoverflow.com/a/34372979 for more info */
hr {
  margin: 10px 0 10px 0;
}

/* Description Expansion Styling*/
#descexpansionbutton {
  display: none
}

#descexpansionbutton ~ div {
  overflow: hidden;
  height: 8.3em;
}

#descexpansionbutton:checked ~ div {
  overflow: unset;
  height: 100%;
}

#descexpansionbutton ~ label {
  order: 1;
  margin-top: 20px;
}

/* Bidi (bidirectional text) support */
h1,
h2,
h3,
h4,
h5,
p,
#descriptionWrapper,
#description-box {
        unicode-bidi: plaintext;
        text-align: start;
}

#descriptionWrapper {
        max-width: 600px;
        white-space: pre-wrap;
}

/* Center the "invidious" logo on the search page */
#logo > h1 { text-align: center; }



/* THEME BETTER INVIDIOUS */



/* SCROLLBAR */
* {
    scrollbar-width: thin;
    scrollbar-color: #2a3761 #192338db;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #192338db;
}

*::-webkit-scrollbar-thumb {
    background-color: #2a3761;
    border-radius: 20px;
    border: 3px solid #192338db;
}

/* MAIN ELEMENTS */
* {
    font-family: 'Noto sans', 'Calibri', 'Cambria', 'Candara', 'Dejavu Sans', 'Helvetica', sans-serif;
}

body.dark-theme {
    background: #202C46;
}

.dark-theme hr {
    color: #2a3761;
}

/* HEADER */
a.index-link.pure-menu-heading {
    font-size: 1.6em;
}

.dark-theme a.feed-menu-item.pure-menu-heading {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.dark-theme a.feed-menu-item.pure-menu-heading:hover {
    color: #bbb;
}

/* FILTERs */
#filters h3 {
    cursor:pointer;
}

/* VIDEO BOXING AND SEARCHBAR */
.pure-u-md-1-4 .h-box,
.searchbar {
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    margin: 5px;
    max-width:96%;
}

.pure-u-md-1-4 .h-box:hover,
.searchbar:hover {
    transform: scale(1.025);
    transition: all 0.2s;
    opacity: 1;
    background: #2a376140;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
    z-index: 99999;
}

.dark-theme p.video-data,
.dark-theme a:hover {
    color: #d1d1d1;
}

input[type="search"] {
    border-bottom: 0px !important;
}

.dark-theme summary:hover {
    color: #bbb;
}

/* CHANNEL PROFILE */
.channel-profile {
    margin-top: 10px;
    margin-left: 5px;
}

.h-box > img {
    border-radius: 50px;
    background: #2a376140;
    padding: 3px;
    margin: 5px;
    opacity: 0.8;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

/* VIDEO PLAYER */
.dark-theme .video-js.player-style-youtube .vjs-play-progress::before,
.dark-theme .video-js .vjs-slider:hover,
.dark-theme .video-js button:hover {
    color: #fff;
}

.dark-theme. video-js .vjs-slider,
.dark-theme .video-js button {
    color: #bbb;
}

.dark-theme .video-js.player-style-youtube .vjs-play-progress,
.dark-theme .video-js.player-style-invidious .vjs-play-progress,
.dark-theme .video-js .vjs-volume-level,
.dark-theme .vjs-menu li.vjs-selected {
    background-color: #314173;
    color: #fff;
}

#player-container {
    transition: all 0.2s;
    border-radius: 12px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

/* BELOW VIDEO PLAYER */
.pure-u-lg-1-5 .h-box,
.pure-form-aligned {
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.pure-control-group {
    margin-top: 3px;
    margin-bottom: 7px;
}

body.dark-theme a.channel-owner,
body.dark-theme a.channel-owner:hover {
    background-color: #2c3d7361;
    color: #d1d1d1;
    border-radius: 6px;
}

.dark-theme button.pure-button-primary,
.dark-theme button.pure-button-primary:hover {
    background-color: #2c3d73;
    color: #d1d1d1;
    border-radius: 6px;
    margin-top: 5px;
}

.pure-form-aligned .pure-controls {
        text-align:right;
}

.dark-theme  #download_widget {
    background-color: #2c3d73;
    box-shadow: inset 0 1px 3px #2c3d7361;
    border-color: #2c3d7361;
    color: #d1d1d1;
}

.dark-theme  #subscribe,
.dark-theme  #descexpansionbutton ~ label {
    background-color: #2c3d73;
    color: #d1d1d1;
    border-radius: 6px;
    float: right;
    padding: 7.5px;
    margin-top: -55px;
}

/* PREFERENCES */
.pure-form legend {
    border-bottom: 1px solid #2a3761;
    margin-bottom: 13px;
    font-weight: 900;
    font-size: 1.2em;
    padding: 20px 20px 20px 5px;
}

a.pure-button,
a.pure-button:hover {
    background-color: #2c3d73;
    border-radius: 6px;
    margin-left: 5px;
    margin-top: 5px;
}

body.dark-theme a.pure-button {
    color: #d1d1d1;
}

.deleted {
    background-color: #2a3761;
}

.dark-theme .pure-form input[type="password"],
.dark-theme .pure-form select,
.dark-theme .pure-form input[type="number"],
.dark-theme .pure-form input[type="text"]{
    background-color: #2c3d73;
    box-shadow: inset 0 1px 3px #2c3d7361;
    border: 1px solid #2c3d7361;
    border-color: #2c3d7361;
    color: #d1d1d1;
}

.pure-form-aligned .pure-control-group label {
    width: 20em;
}

.pure-u-1-4, .pure-u-6-24 {
    width:24%;
}

#search-widget .pure-u-1-4 {
    display:none;
}

#search-widget .searchbar {
    margin: 20px auto;
    width:60%;
    max-width:900px;
    min-width:200px;
}

/* CLEANED UP CLUTTER */
.vjs-overlay-background,
.ion-logo-youtube,
#watch-on-youtube,
#wilson,
#dislikes,
#rating,
#engagement,
#family_friendly {
    display: none;
}
